{% extends "base.html" %} {% block content %}

<h2>Register</h2>

<form class="auth_form" action="/register/" method="POST">
  {% csrf_token %}
  <input type="hidden" name="redirect" value="{{ redirect }}" />
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input name="reg_username" class="mdl-textfield__input" type="text" id="sample5" />
    <label class="mdl-textfield__label" for="sample5">Username</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input name="reg_password" class="mdl-textfield__input" type="text" id="sample6" />
    <label class="mdl-textfield__label" for="sample6">Password</label>
  </div>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    Login
  </button>
</form>

{% endblock %}
